html {
    background-color: #F4F5F7;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    max-height: 104px;
    padding: 16px 8px 16px 8px;
    border-width: 0 0 1px 0;
    border-bottom-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    height: 32px;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

.backButton {
    position: absolute;
    left: 30%;
    color: #1C1B1F;
    font-size: larger;
    border-width: 0;
    background-color: #F4F5F7;
    min-width: 10px;
    min-height: 18px;
}

.user-profile-container {
    position: absolute;
    left: 70%;
}

.user-profile-image-div {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.user-profile-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    display: none;
}

.user-profile-edit-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 40%;
    width: 115px;
    height: 105px;
    background-color: #d9d9d9;
}


.user-profile-edit-menu {
    width: 100%;
    height: 35px;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    align-content: center;
}

.user-profile-edit-menu:hover {
    background-color: #e9e9e9;
}

.hidden {
    display: none;
}

.bar {
    width: 592px;
    height: 0;
    border-width: 1px;
    background-color: #000000;
    opacity: 0.16;
    padding: 0;
    margin: 0;
}