html {
    background-color: #FAFAFA;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    max-height: 10%;
    padding: 16px 8px 16px 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
    height: 32px;
    width: 100%;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.introduce {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.backButton {
    position: absolute;
    left: 30%;
    color: #1C1B1F;
    font-size: larger;
    border-width: 0;
    background-color: #F4F5F7;
    min-width: 10px;
    min-height: 18px;
}

.user-profile-edit-container {
    left: 90%;
    position: absolute;
}

.settings {
    font-size: 18px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    align-items: center;
}

.user-profile-image-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.user-info-profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    display: none;
}

.user-nickname {
    font-size: 18px;
    font-weight: 700;
}

.user-profile-edit-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: auto;
    width: 115px;
    height: 105px;
    background-color: #878080;
    color: #FFFFFF;
    border-radius: 5px;
}


.user-profile-edit-menu {
    width: 100%;
    height: 35px;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    align-content: center;
    text-align: center;
}

.user-profile-edit-menu:hover {
    background-color: #635A5A;
}

.hidden {
    display: none;
}

.bar {
    width: 592px;
    height: 0;
    border-width: 1px;
    background-color: #000000;
    opacity: 0.16;
    padding: 0;
    margin: 0;
}