html {
    background-color: #F4F5F7;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    max-height: 104px;
    padding: 16px 8px 16px 8px;
    border-width: 0 0 1px 0;
    border-bottom-color: black;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    height: 32px;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

.backButton {
    position: absolute;
    left: 40%;
    color: #1C1B1F;
    font-size: larger;
    border-width: 0;
    background-color: #F4F5F7;
    min-width: 10px;
    min-height: 18px;
}

.user-profile-image {
    position: absolute;
    right: 40%;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #d9d9d9;
}