.login {
    display: flex;
    flex-direction: column;
}

.login-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 264px;
    text-align: center;
}

#login-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.login-label {
    font-size: 15px;
    font-weight: 700;
    margin-top: 16px;
    align-self: flex-start;
}

.login-input {
    width: 355px;
    height: 33px;
    border-radius: 4px;
    border-width: 1px;
    margin-top: 13px;
    font-size: 14px;
}

.loginButton {
    width: 355px;
    height: 33px;
    background-color: #ACA0EB;
    border-width: 0;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    margin-top: 38px;
}

a {
    font-size: 14px;
    color: black;
    margin-top: 12px;
    text-decoration: none;
}

