.post-write-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post-write-title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 24px;
}

.post-write-form {
    gap: 27px;
}

.post-write-input-container {
    display: flex;
    flex-direction: column;;
    gap: 13px;
}

.post-write-file-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.post-write-file-button-container button {
    background-color: #D9D9D9;
    width: 66px;
    height: 29px;
    border-radius: 4px;
    border-width: 1px;
}

.post-write-file-button-container span {
    font-size: 14px;
    font-weight: 400;
}

.post-write-input-container label {
    font-size: 16px;
    font-weight: 700;
    margin-top: 27px;
}

.post-write-input-container input {
    width: 570px;
    height: 64px;
    border-radius: 8px 8px 4px 8px;
    border-width: 1px;
}

#post-write-image {
    display: none;
}

.post-write-input-container input::placeholder {
    font-size: 16px;
    font-weight: 700;
}

.post-write-input-container textarea {
    width: 570px;
    height: 299px;
    border-radius: 8px 8px 4px 8px;
    border-width: 1px;
}

.post-write-input-container textarea::placeholder {
    font-size: 14px;
    font-weight: 400;
}

.submitButton {
    width: 355px;
    height: 33px;
    border-width: 0;
    border-radius: 4px;
    background-color: #ACA0EB;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    margin-top: 16px;
}