.main-container {
    display: flex;
    flex-direction: row;
}

.welcomeText {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.post-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 20%;
}

.post-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 592px;
    gap: 20px;
    margin-top: 5%;
}

.write-post-button {
    background-color: #878080;
    color: #FFFFFF;
    border-radius: 16px;
    width: 138px;
    height: 39px;
    border-width: 0;
    font-size: 16px;
    margin-left: auto;
    margin-bottom: 30px;
}

.write-post-button:hover {
    background-color: #635A5A;
}

.post {
    display: flex;
    flex-direction: column;
    width: 600px;
    min-height: 169px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.post-title {
    height: 31px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 27px;
    margin-top: 18px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.post-content-summary {
    font-size: 15px;
    font-weight: 400;
    margin-left: 27px;
    margin-top: 0;
    padding-top: 0;
}

.post-image {
    width: 300px;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
    align-self: center;
    border-radius: 5px;
}

.post-info-list {
    height: 18px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    width: 100%;
}

.post-info {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    gap: 10px;
}

.post-write-date {
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 5%;
}

.bar {
    width: 100%;
    height: 0;
    border-width: 1px;
    background-color: #000000;
    opacity: 0.16;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 16px;
}

.author-info {
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-top: 30px;
}

.author-profile-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #d9d9d9;
    object-fit: cover;
    overflow: hidden;
}

.author-nickname {
    font-size: 15px;
    font-weight: 700;
}


.my-page-title {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-start;
    padding: 0;
    margin: 0;
}