.main-container {
    display: flex;
    flex-direction: column;
}

.welcomeText {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.post-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.post-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 592px;
}

.write-post-button {
    background-color: #ACA0EB;
    color: #FFFFFF;
    border-radius: 16px;
    width: 138px;
    height: 39px;
    border-width: 0;
    font-size: 16px;
    margin-left: auto;
    margin-bottom: 30px;
}

.write-post-button:hover {
    background-color: #7F6AEE;
}

.post {
    display: flex;
    flex-direction: column;
    width: 592px;
    min-height: 169px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.post-title {
    height: 31px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 27px;
    margin-bottom: 10px;
    margin-top: 18px;
}

.post-info-list {
    height: 18px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    width: 100%;
}

.post-info {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    gap: 10px;
}

.post-write-date {
    justify-self: flex-end;
    margin-right: 24px;
}

.bar {
    width: 100%;
    height: 0;
    border-width: 1px;
    background-color: #000000;
    opacity: 0.16;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 16px;
}

.author-info {
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

.author-profile-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin-left: 24px;
}

.author-nickname {
    font-size: 15px;
    font-weight: 700;
}