.user-password-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-password-edit-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 161px;
    margin-bottom: 75px;
}

.user-password-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.user-password-edit-form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
}

.user-password-edit-form-input-container label {
    font-size: 15px;
    font-weight: 700;
}

.user-password-edit-form-input-container input {
    width: 355px;
    height: 31px;
    border-width: 1px;
    border-radius: 4px;
    position: relative;
}

.user-password-edit-submit-button {
    width: 355px;
    height: 33px;
    background-color: #ACA0EB;
    border-radius: 4px;
    border-width: 0;
    color: #FFFFFF;
}

.toast-message-container {
    justify-self: center;
    align-content: center;
    bottom: 15%;
    width: 102px;
    height: 46px;
    background-color: #ACA0EB;
    color: #FFFFFF;
    border-radius: 30px;
    border-width: 0;
    position: fixed;
}

.toast-message-container p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}