.user-info-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info-edit-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 161px;
    margin-bottom: 12px;
}

.user-info-edit-profile-image-container {
    width: 355px;
    height: 206px;
    justify-items: center;
}

.user-info-profile-image-div{
    width: 149px;
    height: 149px;
    background-color: #464646;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    align-content: center;
    margin-top: 22px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info-profile-image {
    width: 149px;
    height: 149px;
    border-radius: 50%;
    opacity: 0.55;
    overflow: hidden;
    object-fit: cover;
    display: none;
}

#user-info-profile-image-input {
    display: none;
}

.user-profile-image-edit-button{
    position: absolute;
    width: 52px;
    height: 27px;
    border-radius: 25px;
    border-width: 1px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.55);
}

.user-info-edit-form{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}

.user-info-edit-form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 13px;
    width: 100%;
    margin-bottom: 15px;
}

.user-info-edit-form-input-container label {
    font-size: 15px;
    font-weight: 700;
}

.user-info-edit-form-input-container p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.user-info-edit-form-input-container input {
    width: 355px;
    height: 31px;
    border-width: 1px;
    border-radius: 4px;
    background-color: #F4F5F7;
    position: relative;
}

.user-info-edit-submit-button {
    width: 355px;
    height: 33px;
    background-color: #878080;
    border-radius: 4px;
    border-width: 0;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.user-delete-button {
    border-width: 0;
    background-color: #F4F5F7;
    font-size: 14px;
    font-weight: 400;
}

.modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal-window {
    position: absolute;
    width: 408px;
    height: 242px;
    background-color: #FFFFFF;
    border-radius: 12px;
    justify-items: center;
    align-content: center;
}

.modal-content {
    font-size: 24px;
    font-weight: 700;
}

.modal-content-notice {
    font-size: 20px;
    font-weight: 400;
}

.modal-button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.modal-button-container button {
    width: 127px;
    height: 44px;
    border-radius: 12px;
    border-width: 0;
    font-size: 20px;
    font-weight: 400;
}

.modal-cancel-button {
    background-color: #242424;
    color: #FFFFFF;
}

.modal-confirm-button {
    background-color: #878080;
    color: #FFFFFF;
}

.hidden {
    display: none;
}

.toast-message-container {
    justify-self: center;
    align-content: center;
    bottom: 15%;
    width: 102px;
    height: 46px;
    background-color: #878080;
    color: #FFFFFF;
    border-radius: 30px;
    border-width: 0;
    position: fixed;
}

.toast-message-container p {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
